CONFIG_PRESENT=true
SERVER_PORT=3000
REACT_APP_SERVER_ROOT=http://localhost:3000
CLIENT_PORT=3030
CLIENT_ROOT=http://localhost:3030
DATABASE_URL=postgres://user:password@host:port/database
DEBUG=true
SENDGRID_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
REACT_APP_PRODUCTION=true
