# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
tigertrade

# File containing sensitive environment variables
.env

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Ignore vendor folder
vendor/*/
tmp/

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
