.wrapper {
		margin: auto;
		position: relative;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		margin-bottom: 5px !important;
		width: 100%;
		padding-top: 5px;
	}
.scrolls {
	overflow-x: scroll;
	overflow-y: hidden;
	height: 150px;
}
.imageDiv {
	margin: 0;
	height: 150px;
   	width: max-content;
}
.imageDiv img {
	margin: 2px;
	max-height: 150px;
	cursor: pointer;
   display:inline-block
}
