hr {
    display: none !important;
}

.blur {
    box-shadow: none !important;
}

.blur input[type=text] {
    color: #F5F5F5 !important;
}

.blur .hint-text {
    color: white;
    opacity: 0.7;
}

.focus {
    background-color: rgb(255, 255, 255) !important;
}

.focus input[type=text] {
    color: #616161 !important;
}

.focus .hint-text {
    color: #9E9E9E !important;
}
